# Edit this file to introduce tasks to be run by cron.
# 
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
# 
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').# 
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
# 
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
# 
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
# 
# For more information see the manual pages of crontab(5) and cron(8)
# 
# m h  dom mon dow   command
00 04    * * *  /root/ftpsync/debian/bin/ftpsync
00 04    * * *  /root/ftpsync/debian-ports/bin/ftpsync
00 04    * * *  /root/ftpsync/debian-security/bin/ftpsync
00 04    * * *  /root/rsync/script/almalinux.sh > /root/rsync/log/almalinux.log
00 10    * * *  /root/ftpsync/debian/bin/ftpsync
00 10    * * *  /root/ftpsync/debian-ports/bin/ftpsync
00 10    * * *  /root/ftpsync/debian-security/bin/ftpsync
00 10    * * *  /root/rsync/script/almalinux.sh > /root/rsync/log/almalinux.log
00 10    * * *  /root/rsync/script/archlinux.sh > /root/rsync/log/archlinux.log
00 10    * * *  /root/ftpsync/ubuntu/bin/ftpsync
00 10    * * *  /root/ftpsync/ubuntu-ports/bin/ftpsync
00 15    * * *  /root/rsync/script/ubuntu-releases.sh > /root/rsync/log/ubuntu-releases.log
00 15    * * *  /root/rsync/script/debian-cd.sh > /root/rsync/log/debian-cd.log
00 15    * * *  /root/rsync/script/rocky.sh > /root/rsync/log/rocky.log
00 15    * * *  /root/rsync/script/fedora-epel.sh > /root/rsync/log/fedora-epel.log
00 16    * * *  /root/ftpsync/debian/bin/ftpsync
00 16    * * *  /root/ftpsync/debian-ports/bin/ftpsync
00 16    * * *  /root/ftpsync/debian-security/bin/ftpsync
00 16    * * *  /root/rsync/script/almalinux.sh > /root/rsync/log/almalinux.log
00 22    * * *  /root/ftpsync/debian/bin/ftpsync
00 22    * * *  /root/ftpsync/debian-ports/bin/ftpsync
00 22    * * *  /root/ftpsync/debian-security/bin/ftpsync
00 22    * * *  /root/rsync/script/almalinux.sh > /root/rsync/log/almalinux.log
00 22    * * *  /root/rsync/script/archlinux.sh > /root/rsync/log/archlinux.log
00 22    * * *  /root/ftpsync/ubuntu/bin/ftpsync
00 22    * * *  /root/ftpsync/ubuntu-ports/bin/ftpsync
0 0 * */1 * /usr/bin/certbot renew --dry-run
5 0 * */1 * /usr/sbin/nginx -s reload
@reboot sleep 10 && ip -6 addr add 2a06:a005:45a::5:2/64 dev tun0
@reboot sleep 12 && ip -6 route add default via 2a06:a005:45a::1 dev tun0