########################################################################
########################################################################
## This is a sample configuration file for the runmirror script.      ##
## Only options most users may need are included.  For documentation  ##
## and all available options see runmirrors.conf(5).                  ##
########################################################################
########################################################################

# MAILTO="$LOGNAME"
# KEYFILE=~/.ssh/pushmirror

########################################################################
## Log option
########################################################################

# LOGDIR=
